

 

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
  @font-face {
    font-family: 'Kollektif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kollektif Regular'), url('Kollektif.woff') format('woff');
    }
    @font-face {
        font-family: 'Archivo Black Regular';
        font-style: normal;
        font-weight: normal;
        src: local('ArchivoBlack-Regular'), url('ArchivoBlack-Regular.woff') format('woff');
        }
html{
  scroll-behavior: smooth;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:60px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    transition: 0.25s;
    z-index: 5;
   }
  
   header.sticky
   {
    position: fixed;
    height:60px;
    background-color: #221F2E;
    z-index: 5;
    box-shadow: 0 5px 10px #27293fe7;
    transition: 0.25s;
    
   }

   header .logo
{
  position: absolute;
  top: 23%;
  left: 120px;
  transform: translate(-50%);
  font-size: 30px;
  color: #221F2E;
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
  font-family: 'Kollektif Regular';
  transition: 0.25s;
}
header.sticky .logo
{
  position: absolute;
  top: 23%;
  left: 120px;
  transform: translate(-50%);
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
  transition: 0.25s;
}
nav
{

position: relative;
display: flex;
z-index: 5;
}

nav ul
{
  position: relative;
  display: flex;
  transition: 0.25s;


}

nav ul li
{
  list-style: none;
  text-align: left;
}
nav ul li a
{
    color: #221F2E;
  display:inline-block;
  padding: 10px 15px;
  font-size: 0.5cm;
  text-decoration: none;
  font-weight: 700;
}
header.sticky nav ul li a
{
    color: rgb(255, 255, 255);
  display:inline-block;
  padding: 10px 15px;
  font-size: 0.5cm;
  text-decoration: none;
}
header.sticky nav ul li a:hover
{
    color: rgba(85, 85, 85, 0.616);
    text-decoration: none;
}
nav ul a:hover
{
  color: rgba(85, 85, 85, 0.616);
  text-decoration: none;
}
 .uptop{
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #000000;
    top: 87%;
    right: 5%;
    border: none;
    cursor: pointer;
    visibility: hidden;
    transform: scale(0.1);
    transition: 0.2s;
    z-index: 2;
 }
 .visable{
  visibility: visible;
  transform: scale(1.2);
  color: #ffffffe0;
  background-color: #000000e0;
 }
 i.fa-2xl{
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  
}
  .container {
    position: relative;
    text-align: left;
    color: white;
  }
  .centered1 {
    position: absolute;
    top: 24%;
    left: 10%;
    width: 20%;
    height: 2%;
    background-color: #221F2E;
  }
  .centered {
  position: absolute;
  top: 28%;
  left: 10%;
  font-size: 1.8vw;
}
.centered2 {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 5.3vw;
    font-family: 'Archivo Black Regular';
    letter-spacing: 8px;
}
  .centered3 {
    position: absolute;
    top: 70%;
    left: 10%;
  }
  .social{
    position: absolute;
    top: 82.5%;
    left: 11%;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social button{
    scale: 2;
    color: white;
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    align-items: center;
    background-color: #221F2E;
    cursor: pointer;
    transition: 0.25s;
    border: none;
    display: flex;
    justify-content: center;
  }
  
  .social button:hover{
    transition: 0.25s;
    color: #221F2E;
    background-color: #ffffff;
  }
  .social button:focus{
    transition: 0.25s;
    color: white;
    background-color: #221F2E;
  }

  div.centered3 button{
    font-size: 2vw;
    color: #221F2E;
    border: 3px solid white;
    background-color: transparent;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Archivo Black Regular';
    cursor: pointer;
    transition: 0.25s;
  }
  div.centered3 button:hover{
    transition: 0.25s;
    color: #ffffff;
    background-color: #221F2E;
    border-radius: 0.8vw;
  }
  section button{
    font-size: 20px;
    color: #ffffff;
    border: 3px solid white;
    background-color: #221F2E;
    margin-top: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Archivo Black Regular';
    cursor: pointer;
    transition: 0.25s;
  }
  section button:hover{
    transition: 0.25s;
    color: #ffffff;
    background-color: #221F2E;
    border-radius: 10px;
  }
 
  mark{
    background-color: #221F2E;
    color: white;
    font-family: 'Archivo Black Regular';
    padding-left: 15px;
    padding-right: 15px;
  }
h1{
    margin-left: 7%;
    letter-spacing: 8px;
    font-family: 'Archivo Black Regular';
    color:#221F2E;
    font-size: 3em;
}
section h1{
  margin-left: 0%;
   width: 100%;
  letter-spacing: 8px;
  font-family: 'Archivo Black Regular';
  color:#221F2E;
  font-size: 3em;
  text-align: center;
}
section
  {
    margin-top: -70px;
    padding: 30px;
    margin-bottom: 100px;
    float: left;
    width: 660px;
    margin-left:5%;
    text-align: center;
  }
 section p{
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
    text-align: center;
    color: #221F2E;
    font-size: 1em;
}
P{
    margin-top: 20px;
    margin-left: 5%;
    width: 600px;
    text-align: center;
    color: #221F2E;
    font-size: 1em;
}
section2 h2{
  margin-left: 7%;
  letter-spacing: 8px;
  font-family: 'Archivo Black Regular';
  color:#221F2E;
  font-size: 3em;
  margin-top: 150px;
  width: 60vw;
}

section2 p{
    margin-top: 20px;
    margin-left: 7%;
    width: 50vw;
    text-align: left;
    color: #221F2E;
    font-size: 1em;
}
section2 p1{
    margin-top: 20px;
    margin-left: 7%;
    width: 40vw;
    text-align: left;
    color: #5e5e5e;
    font-size: 0.8em;
}
section2 h3{
    margin-top: 50px;
    margin-left: 7%;
    text-align: left;
    color: #221F2E;
    font-size: 2em;
    width: 50vw;
}
.container3 .centered {
  position: absolute;
  top: 0;
  text-align: left;
  left: 0%;
  margin:   auto;
  font-size: 0;
  width: 0;
  color: #221F2E;
  padding: 10px;
}
.container3 .centeredd {
  position: absolute;
  top: 0;
  text-align: center;
  left: 0%;
  margin:   auto;
  font-size: 0;
  font-family: 'Archivo Black Regular';
  
  color: #221F2E;
  padding: 10px;
}
.container3 .centered23{
  position: absolute;
  top: 0;
  margin-left: 0;
}
.container3 .centered23 img{
  object-fit: cover;
  width: 0;
  
}
.container2{
    position: absolute;
    margin-left: 65%;
    scroll-margin-top: 150px;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline: 3px #221F2E solid;
}
.music{
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
.nav2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav2 .circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 40px;
    background: #ffffff;
    color: #221F2E;
    box-shadow: 0 5px 10px rgba(1, 3, 136, 0.22);
}
.song{
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 10px 60px rgba(1, 3, 136, 0.22);
}
.music h2{
    font-size: 40px;
    font-weight: bold;
    color: #221F2E;
    margin-top: 20px;
}
.music p2{
    font-size: 14px;
    color: #221F2E;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #221F2E;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 70px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #221F2E;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(1, 3, 136, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    margin: 10px;
    transform: scale(1.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(1, 3, 136, 0.22);
    cursor: pointer;
    color: #221F2E;
}
section2 hr{
    width: 59%;
    height: 5px;
    background-color: #221F2E;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 5px;
    margin-bottom: 60px;
}

hr{
    width: 50%;
    height: 5px;
    background-color: #221F2E;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 60px;
    margin-bottom: 60px;
}
iframe{
    float: right;
margin-right: 5%;
border-style: none;
padding: 10px;
margin-top: 25px
}
section2 img{
  float: right;
margin-right: 5%;
border-style: none;
padding: 10px;
width:300px;
}
footer{
  position: absolute;
  width: 100%;
  background-color: #221F2E;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer p{
  color: #ffffff;
  font-size: 0.8em;
  text-align: left;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 40vw;
} 
footer .social3{
    position: absolute;
    transform: scale(2);
    color: #ffffff;
    left: 70vw;
    cursor: pointer;
    flex-wrap: wrap;
  }
  footer .social3 i{
    padding: 5px;
  }
a{
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 713px)
  {
    section
  {
    margin-top: 70px;
    padding: 30px;
    margin-bottom: 30px;
    width: 90%;
 
    margin-left:5%;
    float: none;
  }
  .container2{
    margin: 0 auto;
  }
  
}

  @media (max-width: 1120px)
  {
    .social{
      position: absolute;
      top: 82.5%;
      left: 11%;
      width: 20%;
    }
    .social button{
      scale: 300%;
      color: #221F2E;
      margin-right: 50px;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      padding-top:.5px;
      background-color: #ffffff00;
      cursor: pointer;
      border: none;
    }
    .social button:hover{
      color: #221F2E;
      background-color: #ffffff00;
    }
    .container2{
      position: static;
      margin: 0 auto;
      margin-top: 0px;
      width: 350px;
      height: 350px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      outline: 3px #221F2E solid;
  }
  div.centered3 button{
    font-size: 0;
    color: #221F2E;
    border: 0px solid white;
    background-color: transparent;
    padding-left: 0vw;
    padding-right: 0vw;
    font-family: 'Archivo Black Regular';
    cursor: pointer;
    transition: 0.25s;
  }
    section
  {
    margin: 0 auto;
    margin-bottom: 30px;
   float: none;
  }
    header.sticky .logo
    {
      position: absolute;
      top: 23%;
      left: 120px;
      transform: translate(-50%);
      font-size: 30px;
      color: rgb(255, 255, 255);
      font-weight: 700;
      text-decoration: none;
      z-index: 1;
    }
  header.sticky .banner
  {
    opacity: 0;
  }
  
  header.sticky .toggle
  {
position: fixed;
top: 8px;
right: 40px;
width: 40px;
height: 40px;
cursor: pointer;
background: url(menuw.png);
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
transition: 0.25s;
z-index: 6;
  }
  header.sticky .toggle.active
  {
    background: url(PngItem_5438676.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
  }
  header .toggle
  {
position: fixed;
top: 8px;
right: 40px;
width: 40px;
height: 40px;
cursor: pointer;
background: url(menub.png);
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
transition: 0.25s;
z-index: 6;
  }
  header .toggle.active
  {
    background: url(PngItem_5438676.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
  }
  
 header.sticky nav.active ul
{
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.5s;
  z-index: 5;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  visibility:visible;
}
header.sticky nav ul{
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;

}
header nav.active ul
{
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.5s;
  z-index: 5;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  visibility:visible;
}
header nav ul{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  right: 0;
  width: 100%;
  height: calc(100%);
  background-color: #000000d3;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.5s;
  opacity: 0;
  visibility:hidden;
}  
nav.active ul li a
{
  color: #ffffff;
  font-size: 2em;
}
nav ul li a
{
  color: #ffffff;
  font-size: 2em;
}
header.sticky nav ul li a
{
  color: rgb(255, 255, 255);
display:inline-block;
padding: 10px 15px;
font-size: 2em;
text-decoration: none;
}
header .logo
{
    position: absolute;
    top: 23%;
    left: 120px;
    transform: translate(-50%);
    font-size: 30px;
    color: #221F2E;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
    font-family: 'Kollektif Regular';
}
}

@media (max-width: 540px)
  {
    section h1{
      margin-left: -20px;
       width: calc(100% + 40px);
      letter-spacing: 5px;
      font-family: 'Archivo Black Regular';
      color:#221F2E;
      font-size: 2.5em;
      text-align: center;
    }
    section
      {
        padding: 20px;
        margin-left:5%;
      }
     section p{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
        color: #221F2E;
        font-size: 1em;
    }
    iframe{
      float: none;
  margin: 0 auto;
  border-style: none;
  padding: 10px;
  margin-top: 25px;
  width: 100%;
  height: 250px;
  }
  section2 img{
    float: right;
  margin-right: 0;
  border-style: none;
  padding: 7%;
  margin-top: 25px;
  width:100%;
  }
  section2 p{
    margin-top: 20px;
    margin-left: 7%;
    width: 90vw;
    text-align: left;
    color: #221F2E;
    font-size: 1em;
    width: 86%;
    word-wrap: break-word;
}
section2 p1{
    margin-top: 5px;
    margin-left: 7%;
    width: 100%;
    text-align: left;
    color: #5e5e5e;
    font-size: 0.8em;
    float: none;
}
section2 h3{
    margin-top: 50px;
    margin-left: 7%;
    text-align: left;
    color: #221F2E;
    font-size: 2em;
    width: 80vw;
}
hr{
  width: 86%;
  height: 5px;
  background-color: #221F2E;
  border-radius: 5px;
  margin-left: 7%;
  margin-top: 60px;
  margin-bottom: 60px;
}
section2 h1{
  margin-left: 0;
  letter-spacing: 5px;
  font-family: 'Archivo Black Regular';
  color:#221F2E;
  font-size: 2.3em;
  margin-top: 80px;
  width:100%;
  text-align: center;
}
section2 hr{
  width: 86%;
  height: 5px;
  background-color: #221F2E;
  border-radius: 5px;
  margin-left: 7%;
  margin-top: 10px;
  margin-bottom: 60px;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:60px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.25s;
  background-color: transparent;
 }

 header.sticky
 {
  position: fixed;
  height:60px;
  background-color: #221F2E;
  z-index: 5;
  transition: 0.25s;
  box-shadow: 0 5px 10px #27293fe7;
 }

 header .logo
{
position: absolute;
top: 23%;
left: 112px;
transform: translate(-50%);
font-size: 1.7em;
color: #221F2E;
font-weight: 700;
text-decoration: none;
z-index: 1;
font-family: 'Kollektif Regular';
}
header.sticky .logo
{
position: absolute;
top: 23%;
left: 112px;
transform: translate(-50%);
font-size: 1.7em;
color: rgb(255, 255, 255);
font-weight: 500;
text-decoration: none;
z-index: 1;
}
nav
{

position: relative;
display: flex;
z-index: 5;
}

nav ul
{
position: relative;
display: flex;
transition: 0.25s;


}

nav ul li
{
list-style: none;
text-align: left;
}

header.sticky nav ul li a:hover
{
  color: rgba(85, 85, 85, 0.616);
  text-decoration: none;
}
nav ul a:hover
{
color: rgba(85, 85, 85, 0.616);
text-decoration: none;
}



.container {
  position: relative;
  text-align: left;
  color: white;
  width: 100%;
 height: 457px;
}
.container3 {
  position: relative;
  width: 100%;
 height: 457px;
 margin-bottom: 20px;
 overflow: hidden;
}
.blur{
  width: 100%;
  height: 100%;
  position: static;
  background-image: url(thumb.jpeg);
  overflow: hidden;
  filter: blur(10px);
  transform: scale(1.1);
}
.container img {
 zoom: 300%;
 object-fit: cover;
 box-shadow: 0 10px 60px rgba(1, 2, 58, 0.322);
}
.centered1 {
  position: absolute;
  top: 24%;
  left: 10%;
  width: 20%;
  height: 2%;
  background-color: transparent;
}
.centered {
position: absolute;
top: 28%;
left: 10%;
font-size: 0;
}
.container3 .centered {
  position: absolute;
  top: 50px;
  text-align: left;
  left: 0%;
  margin:   auto;
  font-size: 1.3em;
  width: 230px;
  color: #ffffff;
  padding: 10px;
}
.container3 .centeredd {
  position: absolute;
  top: 70px;
  text-align: center;
  left: 0%;
  margin:   auto;
  font-size: 2em;
  font-family: 'Archivo Black Regular';
  
  color: #ffffff;
  padding: 10px;
}
.container3 .centered23{
  position: absolute;
  top: 35%;
  margin-left: 7%;
}
.container3 .centered23 img{
  object-fit: cover;
  width: 93%;
  
}
.centered2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  font-family: 'Archivo Black Regular';
  letter-spacing: 0;
}
.centered3 {
  position: absolute;
  top: 70%;
  left: 10%;
}
.social{
  position: absolute;
  top: 82.5%;
  left: 11%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social button{
  scale: 3.3;
  color: #221F2E;
  width: 6.3vw;
  height: 6.3vw;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 0.25s;
  border: none;
  display: flex;
  justify-content: center;
}

div.centered3 button{
  font-size: 0;
  color: #221F2E;
  border: 0px solid white;
  background-color: transparent;
  padding-left: 0vw;
  padding-right: 0vw;
  font-family: 'Archivo Black Regular';
  cursor: pointer;
  transition: 0.25s;
}
.container2{
  position: absolute;
  margin-left: 0;
  scroll-margin-top: 0;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  outline: 0 #221F2E solid;
}
.music{
  width: 0;
  padding: 0;
  text-align: center;
}
.nav2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 00;
}
.nav2 .circle{
  border-radius: 0;
  width: 0;
  height: 0;
  line-height: 0;
  background: #ffffff;
  color: #221F2E;
  box-shadow: 0;
}
.song{
  width: 0;
  border-radius: 0;
  box-shadow: 0;
}
.music h2{
  font-size: 0;
  font-weight: bold;
  color: #221F2E;
  margin-top: 0;
}
.music p2{
  font-size: 0;
  color: #221F2E;
}

#progress{
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: #221F2E;
  border-radius: 0;
  cursor: pointer;
  margin-top: 0;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #221F2E;
  width: 0px;
  height: 0;
  border-radius: 0;
  box-shadow: 0;
}
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div{
  margin: 0;
  transform: scale(0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0;
  cursor: pointer;
  color: #221F2E;
}
footer{
  position: absolute;
  width: 100%;
  background-color: #221F2E;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer p{
  color: #ffffff;
  font-size: 0.8em;
  text-align: left;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 40vw;
} 
footer .social3{
    position: absolute;
    transform: scale(2);
    color: #ffffff;
    left: 65vw;
    cursor: pointer;
    flex-wrap: wrap;
  }
  footer .social3 i{
    padding-left: 5px;
  }
a{
  text-decoration: none;
  color: #ffffff;
}
  }
  @media (max-height: 415px)
  {

        nav.active ul li a
        {
          color: #ffffff;
          font-size: 1em;
        }
        nav ul li a
        {
          color: #ffffff;
          font-size: 1em;
        }
        header.sticky nav ul li a
        {
          color: rgb(255, 255, 255);
        display:inline-block;
        padding: 10px 15px;
        font-size: 1em;
        text-decoration: none;
        }
  }